* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

header {
    background: url(../img/Background.jpg);

}

header .wrapper {
    display: flex;
    padding-top: 217px;
    padding-bottom: 165px;
    width: 1180px;
    margin: 0 auto;
}

header .wrapper img {
    width: 348px;
    height: 460px;
}

.header-title {
    width: 350px;
    padding-top: 38px;
    margin-right: 57px;
}

.header-title p {
    font-size: 14px;
    line-height: 19px;
    color: #737373;
    font-weight: 300;
    font-family: "Overpass";
    text-align: left;
    margin-bottom: 35px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 280px;
    font-size: 17px;
    line-height: 22px;
    font-weight: 400;
    font-family: "Overpass";
    text-align: center;
}

.buttons a {
    text-decoration: none;
    color: #8bd976;
}

h1 {
    font-size: 79px;
    color: #8bd876;
    font-weight: 400;
    font-family: "Overpass";
    text-align: left;
}

.buttons .button {
    min-width: 133px;
    padding: 2px;
    border-radius: 17px;
    border: 5px solid #8bd976;
    transition: 0.5s;
}

.buttons .button:hover {
    background-color: #8bd876;
}

.buttons .button-two {
    min-width: 133px;
    padding: 2px;
    border-radius: 17px;
    border: 5px solid #8bd976;
    transition: 0.5s;
}

.buttons .button-two:hover {
    background-color: #8bd876;
}

.time h3 {
    font-size: 35px;
    color: #8bd876;
    font-weight: 400;
    font-family: "Overpass";
    text-align: left;
    margin-bottom: 30px;
}

.time p {
    font-size: 14px;
    line-height: 12px;
    color: #e5e5e5;
    font-weight: 300;
    font-family: "Overpass";
    width: 120px;
    margin-bottom: 35px;
}

.time {
    padding-left: 88px;
    padding-top: 175px;
}

.time ul {
    display: inline-block;
}

.before {
    position: relative;
}

.before::before {
    content: "";
    position: absolute;
    width: 90px;
    height: 16px;
    border-radius: 10px;
    border: 3px solid #8bd976;
    left: 2%;
    top: -40%;
}

.before-two {
    position: relative;
}

.before-two::before {
    content: "";
    position: absolute;
    width: 90px;
    height: 16px;
    border-radius: 10px;
    border: 3px solid #8bd976;
    left: 2%;
    top: 100%;
}

.green-info {
    background-image: url(../img/Background_two.jpg);
}

.green-info .wrapper {
    display: flex;
    padding-top: 217px;
    padding-bottom: 172px;
    width: 1180px;
    margin: 0 auto;
}

.ul-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 50px;
}

.ul-info ul {
    margin-bottom: 65px;
}

.ul-info p {
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    font-weight: 300;
    font-family: "Overpass";
    text-align: left;
    width: 444px;
}

.ul-info h3 {
    font-size: 35px;
    color: #000000;
    font-weight: 400;
    font-family: "Overpass";
    text-align: left;
}

.green-info h2 {
    font-size: 79px;
    color: #000000;
    font-weight: 400;
    font-family: "Overpass";
}

.green-ul p {
    font-size: 14px;
    color: #000000;
    font-weight: 300;
    font-family: "Overpass";
    text-align: left;
}

.green-ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 469px;
    margin-right: 190px;
}

.concert-info {
    background-image: url(../img/Background_three.jpg);
}

.concert-info .wrapper {
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 180px;
    padding-bottom: 70px;
}

.concert-info ul {
    display: inline-block;
    height: 320px;
    width: 527px;
}

.concert-info h2 {
    font-size: 79px;
    color: #8bd876;
    font-weight: 400;
    font-family: "Overpass";
    text-align: center;
}

.concert-info .p {
    width: 456px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 19px;
    color: #e5e5e5;
    font-weight: 300;
    font-family: "Overpass";
    text-align: center;
}

.concert-info h3 {
    display: inline-block;
    font-size: 35px;
    color: #8bd876;
    font-weight: 400;
    font-family: "Overpass";
    text-align: left;
}

.concert-info h4 {
    display: inline-block;
    font-size: 17px;
    line-height: 22px;
    color: #8bd976;
    font-weight: 400;
    font-family: "Overpass";
}

.concert-info p {
    width: 136px;
    font-size: 14px;
    line-height: 19px;
    color: #e5e5e5;
    font-weight: 300;
    font-family: "Overpass";
}

.title-text {
    margin-bottom: 105px;
}

.images-info {
    margin-right: 122px;
}

.img-text figcaption {
    display: flex;
    justify-content: space-between;
}

.img-text figure {
    width: 45%;
    margin-bottom: 80px;
}

.img-text figure img {
    margin-bottom: 35px;
}

.img-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.new-info {
    background-image: url(../img/Background-four.jpg);
}

.new-info .wrapper {
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 180px;
    padding-bottom: 180px;
    display: flex;
}

.text-new h2 {
    font-size: 79px;
    color: #000000;
    font-weight: 400;
    font-family: "Overpass";
    text-align: left;
}

.text-new {
    width: 448px;
    padding-top: 82px;
}

.text-new h2 span:nth-child(1) {
    display: inline-block;
    width: 30%;
    height: 24px;
    border: 3px solid #000000;
    border-radius: 12px;
    margin: 15px    ;
}

.text-new h2 span:nth-child(2) {
    display: inline-block;
    width: 45%;
    height: 24px;
    border: 3px solid #000000;
    border-radius: 12px;
    margin: 15px 0px 15px 15px;
}

.text-new h2 {
    position: relative;
}

.text-new h2::before {
    content: "";
    position: absolute;
    background-image: url(../img/star-img.png);
    width: 77px;
    height: 77px;
    top: -25%;
    left: 100%;
}

.text-new p {
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    font-weight: 300;
    font-family: "Overpass";
    text-align: left;
    margin-bottom: 40px;
}

.img-new {
    margin-right: 80px;
    position: relative;
}

.img-new::before {
    content: "";
    position: absolute;
    background-image: url(../img/star-img.png);
    width: 77px;
    height: 77px;
    left: -5%;
    bottom: -25%;
}

.new-buttons a {
    padding: 5px;
    min-width: 134px;
    border: 3px solid #000;
    border-radius: 20px;
    margin-right: 25px;
    font-size: 17px;
    line-height: 22px;
    color: #000;
    font-weight: 400;
    font-family: "Overpass";
    text-align: center;
    text-decoration: none;
}

.new-buttons a:hover {
    background-color: #000;
    color: #e5e5e5;
}