* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

header {
    background:#000 url(../img/Background.jpg);
    background-size: cover;
}

header .wrapper {
    padding-top: 217px;
    padding-bottom: 165px;
    width: 80%;
    margin: 0 auto;
}

header .wrapper img {
    width: 348px;
}

.header-info {
    display: flex;
    justify-content: space-between;
}

.header-title {
    width: 350px;
    padding-top: 38px;
    margin-right: 57px;
}

.header-title p {
    font-size: 14px;
    line-height: 19px;
    color: #737373;
    font-weight: 300;
    font-family: "Overpass";
    text-align: left;
    margin-bottom: 35px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 280px;
    font-size: 17px;
    line-height: 22px;
    font-weight: 400;
    font-family: "Overpass";
    text-align: center;
}

.buttons a {
    text-decoration: none;
    color: #8bd976;
}

h1 {
    font-size: 79px;
    color: #8bd876;
    font-weight: 400;
    font-family: "Overpass";
    text-align: left;
}

.buttons .button {
    min-width: 133px;
    padding: 2px;
    border-radius: 17px;
    border: 5px solid #8bd976;
    transition: 0.5s;
}

.buttons .button:hover {
    background-color: #8bd876;
}

.buttons .button-two {
    min-width: 133px;
    padding: 2px;
    border-radius: 17px;
    border: 5px solid #8bd976;
    transition: 0.5s;
}

.buttons .button-two:hover {
    background-color: #8bd876;
}

.time h3 {
    font-size: 35px;
    color: #8bd876;
    font-weight: 400;
    font-family: "Overpass";
    text-align: left;
    margin-bottom: 30px;
}

.time p {
    font-size: 14px;
    line-height: 12px;
    color: #e5e5e5;
    font-weight: 300;
    font-family: "Overpass";
    width: 120px;
    margin-bottom: 35px;
}

.time {
    padding-left: 88px;
    padding-top: 175px;
    width: 350px;
}

.time ul {
    display: inline-block;
}

.before {
    position: relative;
}

.before::before {
    content: "";
    position: absolute;
    width: 90px;
    height: 16px;
    border-radius: 10px;
    border: 3px solid #8bd976;
    left: 2%;
    top: -40%;
}

.before-two {
    position: relative;
}

.before-two::before {
    content: "";
    position: absolute;
    width: 90px;
    height: 16px;
    border-radius: 10px;
    border: 3px solid #8bd976;
    left: 2%;
    top: 100%;
}

.green-info {
    background: #8bd976 url(../img/Background-two.jpg);
    background-size: cover;
}

.green-info .wrapper {
    display: flex;
    padding-top: 217px;
    padding-bottom: 172px;
    max-width: 1180px;
    margin: 0 auto;
}

.ul-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 50px;
}

.ul-info ul {
    margin-bottom: 65px;
}

hr {
    background-color: #000;
    width: 447px;
    height: 4px;
}

.ul-info p {
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    font-weight: 300;
    font-family: "Overpass";
    text-align: left;
    max-width: 444px;
}

.ul-info h3 {
    font-size: 35px;
    color: #000000;
    font-weight: 400;
    font-family: "Overpass";
    text-align: left;
}

.green-info h2 {
    font-size: 79px;
    color: #000000;
    font-weight: 400;
    font-family: "Overpass";
}

.green-ul p {
    font-size: 14px;
    color: #000000;
    font-weight: 300;
    font-family: "Overpass";
    text-align: left;
}

.green-ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 469px;
    margin-right: 190px;
}

.concert-info {
    background:#000 url(../img/Background_three.jpg);
    background-size: cover;
}

.concert-info .wrapper {
    max-width: 1180px;
    margin: 0 auto;
    padding-top: 180px;
    padding-bottom: 70px;
}

.concert-info ul {
    display: inline-block;
    height: 320px;
    width: 527px;
}

.concert-info h2 {
    font-size: 79px;
    color: #8bd876;
    font-weight: 400;
    font-family: "Overpass";
    text-align: center;
}

.concert-info .p {
    width: 456px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 19px;
    color: #e5e5e5;
    font-weight: 300;
    font-family: "Overpass";
    text-align: center;
}

.concert-info h3 {
    display: inline-block;
    font-size: 35px;
    color: #8bd876;
    font-weight: 400;
    font-family: "Overpass";
    text-align: left;
}

.concert-info h4 {
    display: inline-block;
    font-size: 17px;
    line-height: 22px;
    color: #8bd976;
    font-weight: 400;
    font-family: "Overpass";
}

.concert-info p {
    width: 136px;
    font-size: 14px;
    line-height: 19px;
    color: #e5e5e5;
    font-weight: 300;
    font-family: "Overpass";
}

.title-text {
    margin-bottom: 105px;
}

.img-text figcaption {
    display: flex;
    justify-content: space-between;
}

.img-text figure {
    width: 45%;
    margin-bottom: 80px;
}

.img-text figure img {
    margin-bottom: 35px;
    width: 100%;
}

.img-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.new-info {
    background: #8bd976 url(../img/Background-four.jpg);
    background-size: cover;
}

.new-info .wrapper {
    max-width: 1180px;
    margin: 0 auto;
    padding-top: 180px;
    padding-bottom: 180px;
    display: flex;
}

.text-new h2 {
    font-size: 79px;
    color: #000000;
    font-weight: 400;
    font-family: "Overpass";
    text-align: left;
}

.text-new {
    max-width: 448px;
    padding-top: 82px;
}

.text-new h2 span:nth-child(1) {
    display: inline-block;
    width: 30%;
    height: 24px;
    border: 3px solid #000000;
    border-radius: 12px;
    margin: 15px;
}

.text-new h2 span:nth-child(2) {
    display: inline-block;
    width: 45%;
    height: 24px;
    border: 3px solid #000000;
    border-radius: 12px;
    margin: 15px 0px 15px 15px;
}

.text-new h2 {
    position: relative;
}

.text-new h2::before {
    content: "";
    position: absolute;
    background-image: url(../img/star-img.png);
    width: 77px;
    height: 77px;
    top: -25%;
    left: 100%;
}

.text-new p {
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    font-weight: 300;
    font-family: "Overpass";
    text-align: left;
    margin-bottom: 40px;
}

.img-new {
    margin-right: 80px;
    position: relative;
}

.img-new::before {
    content: "";
    position: absolute;
    background-image: url(../img/star-img.png);
    width: 77px;
    height: 77px;
    left: -5%;
    bottom: -25%;
}

.new-buttons a {
    padding: 5px;
    min-width: 134px;
    border: 3px solid #000;
    border-radius: 20px;
    margin-right: 25px;
    font-size: 17px;
    line-height: 22px;
    color: #000;
    font-weight: 400;
    font-family: "Overpass";
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
}

.new-buttons a:hover {
    background-color: #000;
    color: #e5e5e5;
}

.artist {
    background: #000 url(../img/Backgraound-fife.jpg);
    background-size: cover;
}

.artist .wrapper {
    padding-top: 112px;
    padding-bottom: 112px;
    max-width: 1180px;
    margin: 0 auto;
}

.artist-flex {
    display: flex;
}

.text-artist p {
    width: 256px;
    font-size: 14px;
    line-height: 19px;
    color: #e5e5e5;
    font-weight: 300;
    font-family: "Overpass";
    text-align: right;
    flex-direction: column;
}

.text-artist {
    display: flex;
    justify-content: flex-end;
    padding-right: 73px;
    padding-bottom: 75px;
    position: relative;
}

.text-artist::before {
    content: "";
    background-image: url(../img/star-img.png);
    position: absolute;
    width: 75px;
    height: 75px;
    top: -18%;
    right: -1%;
}

.title-artist h2 {
    padding-top: 225px;
    font-size: 79px;
    color: #8bd876;
    font-weight: 400;
    font-family: "Overpass";
    text-align: left;
}

.title-artist p {
    width: 490px;
    margin-bottom: 37px;
    font-size: 14px;
    line-height: 19px;
    color: #e5e5e5;
    font-weight: 300;
    font-family: "Overpass";
    text-align: left;
}

.title-artist a {
    text-decoration: none;
    font-size: 17px;
    line-height: 22px;
    color: #000000;
    font-weight: 400;
    font-family: "Overpass";
    text-align: center;
}

.title-artist .button {
    display: inline-block;
    margin-bottom: 185px;
    min-width: 133px;
    border-radius: 17px;
    background-color: #8bd976;
    border: 5px solid #8bd976;
    transition: 0.5s;
}

.title-artist .button:hover {
    background-color: #000;
    color: #8bd876;
}

.title-artist {
    display: flex;
}

.time-star h3 {
    padding-left: 70px;
    padding-bottom: 20px;
    font-size: 35px;
    color: #8bd876;
    font-weight: 400;
    font-family: "Overpass";
    text-align: left;
    position: relative;
}

.time-star h3::before {
    content: "";
    background-image: url(../img/star-img.png);
    position: absolute;
    width: 75px;
    height: 75px;
    top: -30%;
    left: -2%;
}

.time-star p {
    width: 349px;
    font-size: 14px;
    line-height: 19px;
    color: #e5e5e5;
    font-weight: 300;
    font-family: "Overpass";
    text-align: left;
}

.ticket-shop {
    background: #8bd976 url(../img/Backgraond-six.jpg);
    background-size: cover;
}

.ticket-shop .wrapper {
    padding-top: 90px;
    max-width: 1180px;
    margin: 0 auto;
}

.ticket-title {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.date-ticket {
    display: flex;
    flex-wrap: wrap;
}

.ticket-info {
    width: 30%;
}

.ticket-info h3 {
    font-size: 35px;
    color: #000000;
    font-weight: 400;
    font-family: "Overpass";
    text-align: left;
    margin-bottom: 20px;
}

.ticket-info p {
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    font-weight: 300;
    font-family: "Overpass";
    text-align: left;
    margin-bottom: 27px;
}

.ticket-info .button {
    display: inline-block;
    background-color: #000;
    border: solid 3px #000;
    padding: 5px;
    min-width: 133px;
    border-radius: 17px;
    margin-bottom: 85px;
    transition: 0.5s;
}

.ticket-info .button:hover {
    color: #000;
    background-color: #8bd976;
}

.ticket-info a {
    text-decoration: none;
    font-size: 17px;
    line-height: 22px;
    color: #8bd976;
    font-weight: 400;
    font-family: "Overpass";
    text-align: center;
}

.ticket-title h3 {
    font-size: 35px;
    color: #000000;
    font-weight: 400;
    font-family: "Overpass";
    text-align: center;
}

.ticket-title h2 {
    font-size: 79px;
    color: #000000;
    font-weight: 400;
    font-family: "Overpass";
    text-align: center;
    margin-bottom: 70px;
}

.clothing-shop {
    background: #8bd976 url(../img/Background-seven.jpg);
    background-size: cover;
}

.clothing-shop .wrapper {
    padding-top: 95px;
    max-width: 1180px;
    margin: 0 auto;
}

.clothing-title {
    display: flex;
    justify-content: center;
}

.clothing-title h2 {
    font-size: 79px;
    color: #8bd876;
    font-weight: 400;
    font-family: "Overpass";
    text-align: center;
}

.clothing-p {
    display: flex;
    justify-content: center;
    margin-bottom: 65px;
}

.clothing-p p {
    width: 494px;
    font-size: 14px;
    line-height: 19px;
    color: #e5e5e5;
    font-weight: 300;
    font-family: "Overpass";
    text-align: center;
}

.shop-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.shop-info figcaption {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #8bd976;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 55px;
    padding-bottom: 55px;
    margin-bottom: 110px;
}

.shop-info figcaption a {
    text-decoration: none;
    font-size: 17px;
    line-height: 22px;
    color: #8bd976;
    font-weight: 400;
    font-family: "Overpass";
    text-align: center;
}

.shop-info figcaption .button {
    border-radius: 17px;
    background-color: #000000;
    border: 3px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    min-width: 133px;
    transition: 0.5s;
}

.shop-info figcaption .button:hover {
    color: #000;
    background-color: #8bd976;
}

.shop-info figure {
    display: flex;
    flex-direction: column;
}

.shop-info figure h3 {
    font-size: 35px;
    color: #000000;
    font-weight: 400;
    font-family: "Overpass";
    text-align: left;
}

.green-footer {
    background-color: #8bd976;
}

.green-footer .wrapper {
    padding-top: 85px;
    padding-bottom: 58px;
    max-width: 1180px;
    margin: 0 auto;
}

.title-footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 33px;
}

.title-footer h3 {
    font-size: 35px;
    color: #000000;
    font-weight: 400;
    font-family: "Overpass";
    text-align: left;
}

.title-footer p {
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    font-weight: 300;
    font-family: "Overpass";
}

.copy {
    font-size: 17px;
    line-height: 22px;
    color: #000000;
    font-weight: 400;
    font-family: "Overpass";
}

@media screen and (max-width:1360px) {
    .time {
        padding-top: 70px;
    }

    header .wrapper img {
        margin-left: 6px;
        width: 200px;
        height: 100%;
    }

    .header-title {
        padding-top: unset;
        margin-right: unset;
    }

    .text-new h2::before {
        left: 90%;
    }

    .text-new h2::before {
        left: 70%;
        top: -35%;
    }

    .text-artist::before {
        top: -70%;
        right: 2%;
    }

    .images-info {
        margin-right: 10px;
    }

    .time {
        padding-left: 20px;
    }

    .shop-info {
        display: flex;
        justify-content: center;
        column-gap: 50px;
    }

    .green-ul {
        margin-right: 100px;
    }
}

@media screen and (max-width:1024px) {
    h1 {
        font-size: 59px;
    }

    .time .before {
        min-width: 20%;
    }

    .time .before-two {
        min-width: 20%;
    }

    .time {
        width: 100%;
    }

    .img-new {
        margin-right: 0px;
    }
    
    .header-title {
        padding-top: 0px;
    }

    .time {
        padding-top: 70px;
    }

    .title-artist img {
        width: 400px;
    }

    .green-ul {
        margin-right: 50px;
    }

    .img-new img {
        width: 400px;
    }

    .text-new {
        padding-top: 0px;
    }

    .green-ul {
        margin-right: 0px;
        padding-top: 20px;
    }

    .title-artist h2 {
        padding-top: 0px;
    }

    .title-artist img {
        width: 300px;
    }

    header .wrapper {
        padding-top: 100px;
        padding-bottom: 130px;
    }

    .header-info {
        display: flex;
        flex-wrap: wrap;
    }

    .time {
        display: flex;
        justify-content: space-between;
    }

    .time .before {
        width: 20%;
    }

    .time .before-two {
        width: 20%;
    }

    .time p {
        width: unset;
        margin-bottom: unset;
    }

    .header-title {
        margin: 0 auto;
    }

    .buttons {
        margin: 0 auto;
    }

    .header-title p {
        text-align: center;
    }

    .before-two::before {
        left: 2%;
        top: -40%;
    }

    hr {
        width: 275px;
    }

    .ticket-shop {
        background: #8bd976;
    }

    .title-artist {
        display: block;
        text-align: center;
    }

    .title-artist .button {
        margin-bottom: 20px;
    }
}

@media screen and (max-width:768px) {

    .green-info .wrapper {
        width: 85%;
    }

    .header-info {
        display: block;
        text-align: center;
    }

    h1 {
        text-align: center;
    }

    .img-text figcaption {
        display: block;
    }

    .img-text figure {
        width: 80%;
    }

    .img-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img-new img {
        width: 300px;
    }

    .green-info .wrapper {
        display: block;
    }

    hr {
        width: 0;
        height: 0;
    }

    .green-ul {
        margin: 0 auto;
    }

    .ul-info {
        flex-direction: row;
    }

    .ticket-info {
        width: 40%;
    }

    .date-ticket {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width:600px) {
    .time {
        display: inline-block;
    }

    .time .before {
        width: 40%;
    }

    .before::before {
        left: 2%;
        top: 40%;
    }

    .before-two::before {
        left: 2%;
        top: 40%;
    }

    .time .before-two {
        width: 40%;
    }

    .new-info .wrapper {
        display: block;
        text-align: center;
    }

    .text-new {
        margin: 0 auto;
    }

    .img-new::before {
        left: 4%;
        bottom: -145%;
    }

    .text-new h2::before {
        top: -25%;
        left: 92%;
    }

    .shop-info figure{
        min-width: 100px;
    }

    .text-new h2::before {
        top: -35%;
        left: 82%;
    }

    .title-artist p {
        max-width: 350px;
    }

    .text-new h2 span:nth-child(1) {
        width: 20%;
    }

    .text-new h2 span:nth-child(2) {
        width: 35%;
    }

    .green-ul {
        width: 400px;
    }
    
    .date-ticket {
        display: block;
        text-align: center;
    }

    .ticket-info {
        width: 100%;
    }

    .ticket-info p {
        width: 40%;
        margin: 0 auto;
    }

    .ticket-info h3 {
        text-align: center;
    }

    .img-new::before {
        width: 0px;
        height: 0px;
    }

    .text-new h2::before {
        left: 50%;
        width: 0px;
        height: 0px;
    }

    .green-info h2 {
        font-size: 59px;
    }

    .ul-info {
        display: block;
    }

    .concert-info .p {
        max-width: 320px;
    }

    .title-footer ul {
        margin-bottom: 20px;
    }

    .text-new p {
        max-width: 400px;
    }

    .title-artist h2 {
        font-size: 59px;
    }

    .text-new h2 span:nth-child(1) {
        display: none;
    }

    .text-new h2 span:nth-child(2) {
        display: none;
    }

    .title-footer {
        display: flex;
        flex-direction: column;
    }

    .green-footer .wrapper {
        width: 50%;
        margin: 0 auto;
    }
}

@media screen and (max-width:425px) {
    .header-title p {
        width: 85%;
        margin: 0 auto;
    }

    .green-info h2 {
        max-width: 320px;
    }

    h1 {
        text-align: center;
    }

    .green-ul p {
        max-width: 300px;
    }

    .green-ul {
        width: 300px;
    }

    .header-title {
        width: 275px;
    }

    h1 {
        font-size: 59px;
    }

    .time-star p {
        width: 320px;
    }

    .title-artist p {
        width: 320px;
    }

    .title-artist img {
        margin-bottom: 50px;
    }

    .clothing-title h2 {
        font-size: 59px;
    }
}